<div id="home">
    <div id="homepage_bot">
        <iframe id="botkit_client" src="/chat.html"></iframe>
    </div>

    <div id="welcome">
        <h1>Eu sou um chatbot!</h1>
        <p><a href="/chat.html">Tela cheia</a></p>
        <p><a href="/embed">Me coloque em um web site</a></p>
        <p><a href="https://github.com/howdyai/botkit-starter-web">Documentação Starter Kit </a></p>
        <p><a href="https://botkit.ai/docs">Documentação Botkit SDK</a></p>
    </div>
</div>
<script src="/embed.js"></script>
<script>
  Botkit.boot({});
</script>
